<div class="col-md-4 float-left">
<img style="width: 100%;" class="img-thumbnail" src="/uploads/user/avatar/2/thumb_%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88_2018-10-12_7.30.18.png" />
hogeくん
3さい<br>
<br><a class="btn btn-primary shiney profile" href="/users/2">プロフィール</a>
<br><a class="btn btn-primary shiney edit" href="/users/2/edit">編集</a>
<br><a data-confirm="削除してよろしいですか?" class="btn btn-primary shiney destroy" rel="nofollow" data-method="delete" href="/users/2">削除</a>

<!-- 画像の表示はLityを利用 -->
<br><a data-lity="data-lity" class="btn btn-primary shiney zoom" href="/uploads/user/avatar/2/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88_2018-10-12_7.30.18.png">写真を見る</a>
</div>
<div class="col-md-4 float-left">
<img style="width: 100%;" class="img-thumbnail" src="/uploads/user/avatar/3/thumb_011kumakichi0327_TP_V4.jpg" />
hogeくん
2さい<br>
<br><a class="btn btn-primary shiney profile" href="/users/3">プロフィール</a>
<br><a class="btn btn-primary shiney edit" href="/users/3/edit">編集</a>
<br><a data-confirm="削除してよろしいですか?" class="btn btn-primary shiney destroy" rel="nofollow" data-method="delete" href="/users/3">削除</a>