<div class="box col-md-12">
  <div class="box col-md-8 mx-auto">
    <h1>愛犬情報を登録</h1>
    <hr>
    <%= render 'form', user: @user %>

    <hr>
    
    <%= link_to '戻る', users_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>