<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>コメントを投稿</h1>

      <%= render 'form', post: @post %>
      <hr>
      <%= link_to '投稿せずに戻る', user_path(id: params[:user_id]), class: "btn btn-secondary" %>
    </div>
  </div>
</div>